.uploadAuditPage {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.box {
  background-color: white;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  box-shadow: 1px 2px 5px grey;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
}

.dropArea {
  border: lightgray;
  border-style: dashed;
  height: 20vh;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  cursor: pointer;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.dropArea:active {
  outline: none;
}

.dropArea:focus {
  outline: none;
}

.progress {
  margin-bottom: 200px;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 0px;
}

.fileName {
  font-family: sans-serif;
  font-weight: bold;
  text-align: left;
  margin-left: 90px;
  margin-bottom: 5px;
}

.dropText {
  font-family: sans-serif;
  align-items: center;
  cursor: pointer;
}

.browse {
  color: rgb(0, 183, 255);
}